* {
    margin: 0px;
    padding: 0px;
    }

#boton{
    text-align: center;
    
    
}
#experienciaspasadas{
    background-color: rgba(128, 128, 128, 0.414);
    padding: 2px;
}
#logo{ 
    height: 100px;
    width: auto;
}


    

div{
    background-color: rgb(255, 255, 255);
    border: 2px black;
}



.borde{
   border-style: solid;
   border-color: rgba(128, 128, 128, 0.178);

}




h1{
    
    text-align: left;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h1,h2{
    margin-left: 20px;
}